<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Onestop ID Registry - report</title>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.dataTables.js"></script>
    <script src="js/jquery.dataTables.bootstrap.js"></script>
    <script src="js/jquery.dataTables.responsive.js"></script>
    <link href="onestop-id-registry.css" rel="stylesheet" />
  </head>
  <body data-spy="scroll" data-target=".sidebar">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Onestop ID Registry</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <h5 class="navbar-right navbar-text">Report generated: <%= report_datetime %></h5>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <h5>Onestop IDs</h5>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#operators">Operators</a></li>
            <li><a href="#feeds">Feeds</a></li>
          </ul>
          <h5>Crosswalks</h5>
          <ul class="nav nav-sidebar">
            <li><a href="#us-ntd-comparison">Operators against US NTD</a></li>
            <li><a href="#gtfs-data-exchange-comparison">Feeds against GTFS Data Exchange</a></li>
          </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 id="operators" class="sub-header">Operators</h2>
          <table id="operator-table" class="table">
            <thead>
              <tr>
                <th>Onestop ID</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <% operators.each do |operator| %>
              <tr>
                <td><%= operator.onestop_id %></td>
                <td><a href="<%= operator.name %>"><%= operator.name %></a></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 id="feeds" class="sub-header">Feeds</h2>
          <table id="feed-table" class="table">
            <thead>
              <tr>
                <th>Onestop ID</th>
                <th>Feed Format</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody>
              <% feeds.each do |feed| %>
              <tr>
                <td><%= feed.onestop_id %></td>
                <td><%= feed.feed_format %></td>
                <td><a href="<%= feed.url %>"><%= feed.url %></a></td>
              </tr>
              <% end %>
            </tbody>
          </table>
          </div>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 id="us-ntd-comparison" class="sub-header">Operators against US NTD</h2>
          <table id="us-ntd-comparison-table" class="table">
            <thead>
              <tr>
                <th>NTD ID</th>
                <th>Name (from NTD)</th>
                <th>Onestop ID</th>
              </tr>
            </thead>
            <tbody>
              <% us_ntd_comparisons.each do |us_ntd_comparison| %>
                <tr class="<%= us_ntd_comparison[:onestop_id] && us_ntd_comparison[:onestop_id].length > 0 ? 'success' : '' %>">
                  <td><%= us_ntd_comparison[:ntd_agency][:ntd_id] %></td>
                  <td><%= us_ntd_comparison[:ntd_agency][:name] %></td>
                  <td><%= us_ntd_comparison[:onestop_id] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          </div>
        </div>


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 id="gtfs-data-exchange-comparison" class="sub-header">Feeds against GTFS Data Exchange</h2>
          <table id="gtfs-data-exchange-comparison-table" class="table">
            <thead>
              <tr>
                <th>Name (from GTFS Data Exchange)</th>
                <th>Onestop ID</th>
              </tr>
            </thead>
            <tbody>
              <% gtfs_data_exchange_comparisons.each do |gtfs_data_exchange_comparison| %>
                <tr class="<%= gtfs_data_exchange_comparison[:onestop_id] && gtfs_data_exchange_comparison[:onestop_id].length > 0 ? 'success' : '' %>">
                  <td><%= gtfs_data_exchange_comparison[:gtfs_data_exchange_feed][:name] %></td>
                  <td><%= gtfs_data_exchange_comparison[:onestop_id] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <script src="js/onestop-id-registry.js"></script>
  </body>
</html>
